.button {
	color: #FFFFFF;
	background: linear-gradient(92.71deg, #0499DD, #17C1BC);
	display: inline-block;
	transform: scale(1.0);
	border: none;
	outline: none;
	will-change: transform;
	cursor: pointer;
}

.buton--squared {
	border-radius: 10px;
}

.buton--rounded-big {
	border-radius: 60px;
}

.buton--rounded-normal {
	border-radius: 40px;
}

.buton--big {
	padding: 16px 53px 17px;
}

.buton--normal {
	padding: 12px 43px 13px;
}

.buton--small {
	padding-top: 11px;
	padding-bottom: 12px;
}

.button--trip__header {
	padding: 16px 20px 17px;
}

.buton--submit {
	cursor: pointer;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}

.button__arrow {
	width: 14px;
	height: 1px;
	display: inline-block;
	background-color: #FFFFFF;
	vertical-align: middle;
	margin-left: 5px;
	position: relative;
}

.button__arrow:before,
.button__arrow:after {
	content: "";
	position: absolute;
	right: -2px;
	width: 6px;
	height: 1px;
	background-color: #fff;
}

.button__arrow:before {
	transform: rotate(45deg);
	top: -2.3px;
}

.button__arrow:after {
	transform: rotate(-45deg);
	top: 2.2px;
}

.favorits__btn {
	position: relative;
	vertical-align: middle;
	display: inline-flex;
	border: 2px solid transparent;
	aspect-ratio: 1;
	border-radius: 50%;
	transition: .2s;
	cursor: pointer;
}

.favorits__btn--listing {
	margin-left: 10px;
	background-color: #EDEDED;
	width: 40px;
}

.favorits__btn--header {
	width: 50px;
}

.favorits__btn--tripPageForm {
	width: 50px;
	background-color: #EDEDED;
}

.favorits__btn--header:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	opacity: 0.3;
	backdrop-filter: blur(1000px);
	border-radius: 50%;
}

.favorits__icon {
	stroke: #D4D4D4;
	fill: none;
	width: 24px;
	height: 24px;
	transition: .2s;
}


/* ********* ********* HOVERS ********* ********* */

.button:hover {
	animation: button .4s ease-in-out;
	transform: scale(1.02);
}

@keyframes button {
	0% {
		background-size: 100%;
		background-position-x: 100%
	}

	50% {
		background-size: 200%;
		background-position-x: 0%
	}

	100% {
		background-size: 100%;
		background-position-x: 100%
	}
}


.favorits__btn--active,
.favorits__btn:hover {
	border: 2px solid #0499DD;
	background: #FBFBFB;
}

.favorits__btn--active .favorits__icon,
.favorits__btn:hover .favorits__icon {
	fill: none;
	stroke: #0499DD;
}


/* ********* ********* MEDIA ********* ********* */
@media (min-width: 0) {

	.button--mobile-flexible {
		flex-grow: 1;
	}
}



@media (min-width: 375px) {

	.button--trip__header {
		padding: 16px 39px 17px;
	}
}


@media (min-width: 576px) {

	.button--mobile-flexible {
		flex-grow: 0;
	}

}

@media (min-width: 769px) {}

@media (min-width: 1024px) {}

@media (min-width: 1220px) {}

@media (min-width: 1441px) {}