:root {
	--padding: 24px;
}

.container {
	padding: 0 var(--padding);
	position: relative;
}

/* ********* ********* MEDIA ********* ********* */
@media (min-width: 0) {}

@media (min-width: 460px) {

	:root {
		--padding: 79px;
	}
}

@media (min-width: 576px) {}

@media (min-width: 769px) {}

@media (min-width: 1024px) {}

@media (min-width: 1220px) {

	:root {
		--padding: 160px;
	}

}

@media (min-width: 1441px) {

	.container {
		max-width: 1400px;
		margin: 0 auto;
		padding: 0;
	}

	:root {
		--padding: calc(50vw - 1400px / 2);
	}

}