.form__section {
	position: relative;
}

.form__section:before {
	content: "";
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.form__img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}


.form__container {
	z-index: 2;
}

.form {
	height: 640px;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	margin-left: auto;
	margin-right: 0;
	color: #FFFFFF;
}

.form__caption {
	padding-bottom: 6px;
}

.form__text {
	padding-bottom: 45px;
}

.form__inputWrap {
	position: relative;
}

.form__inputWrap+.form__inputWrap {
	padding-top: 45px;
}

.form__submit {
	margin-top: 83px;
	display: block;
}

.buton--submit {
	cursor: pointer;
}

.form__label {
	position: absolute;
	left: 0;
	font-size: 12px;
	transition: .2s;
}

.form__input {
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #FFFFFF;
	font-size: 12px;
	color: white;
	outline: none;
}

.form__input::placeholder {
	color: transparent;
}

.form__input:focus-visible+.form__label,
.form__input:not(:placeholder-shown)+.form__label {
	bottom: 20px;
	font-size: 14px;
}

.form__input:not([value=""]):not(:focus):not(:hover):invalid,
.invalid {
	border-bottom: 1px solid red;
}

/* ********* ********* MEDIA ********* ********* */

@media (min-width: 0) {

	.form__section {
		height: 928px;
	}

	.form__container {
		padding-top: 25px;
	}

	.form {
		width: 100%;
		padding: 137px 43px 0;
	}

	.buton--submit {
		width: 100%;
		padding: 16px 0 17px;
	}
}

@media (min-width: 375px) {

	.buton--submit {
		width: auto;
		padding: 16px 53px 17px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 576px) {

	.form__section {
		height: 640px;
	}

	.form__container {
		padding-top: 0;
	}

	.form {
		width: 400px;
	}

	.buton--submit {
		width: auto;
		padding: 16px 53px 17px;
		margin-left: 0;
	}

}

@media (min-width: 769px) {

	.form {
		width: 560px;
		padding-left: 105px;
		padding-right: 105px;
	}

}

@media (min-width: 1024px) {}

@media (min-width: 1220px) {}

@media (min-width: 1441px) {}