.tile-grid-wrap {
	padding: var(--padding);
}

.tile-grid {
	display: grid;
	grid-gap: 20px;
	grid-auto-flow: column;
	grid-template-areas:
		"a a e f g a1 a1 e1 f1 g1"
		"a a e f g a1 a1 e1 f1 g1"
		"b c e h h b1 c1 e1 h1 h1"
		"b d e h h b1 d1 e1 h1 h1"
}

.tile-grid__item {
	border-radius: 5px;
	position: relative;
	touch-action: none;
	cursor: pointer;
}

.tile-grid__item:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
	z-index: 2;
	border-radius: inherit;
}

.tile-grid__img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
}

.img-1 {
	grid-area: a;
}

.img-2 {
	grid-area: b;
}

.img-3 {
	grid-area: c;
}

.img-4 {
	grid-area: d;
}

.img-5 {
	grid-area: e;
}

.img-6 {
	grid-area: f;
}

.img-7 {
	grid-area: g;
}

.img-8 {
	grid-area: h;
}

.img-9 {
	grid-area: a1;
}

.img-10 {
	grid-area: b1;
}

.img-11 {
	grid-area: c1;
}

.img-12 {
	grid-area: d1;
}

.img-13 {
	grid-area: e1;
}

.img-14 {
	grid-area: f1;
}

.img-15 {
	grid-area: g1;
}

.img-16 {
	grid-area: h1;
}


/* ********* ********* MEDIA ********* ********* */

@media (min-width: 0) {

	.tile-grid {
		grid-auto-columns: 180px;
		grid-template-rows: 180px 180px 260px;
		grid-template-areas:
			"e f g b e1 f1 g1 b1"
			"e h g c e1 h1 g1 c1"
			"a a d d a1 a1 d1 d1"
			"a a d d a1 a1 d1 d1"
	}

}

@media (min-width: 460px) {}

@media (min-width: 576px) {

	.tile-grid-wrap {
		padding: 0;
	}

	.tile-grid {
		margin-left: 20px;
		grid-auto-columns: 217px 267px 205px 267px;
		grid-template-rows: repeat(4, 140px);
		grid-template-areas:
			"e f g a a e1 f1 g1 a1 a1"
			"e f g a a e1 f1 g1 a1 a1"
			"e h h b c e1 h1 h1 b1 c1"
			"e h h b d e1 h1 h1 b1 d1"
	}

}

@media (min-width: 769px) {

	.tile-grid {
		margin-left: 15px;
		grid-auto-columns: 216px 266px 362px 266px;
		grid-template-areas:
			"a a e f g a1 a1 e1 f1 g1"
			"a a e f g a1 a1 e1 f1 g1"
			"b c e h h b1 c1 e1 h1 h1"
			"b d e h h b1 d1 e1 h1 h1"
	}

}

@media (min-width: 1024px) {}

@media (min-width: 1220px) {}

@media (min-width: 1441px) {

	.tile-grid {
		grid-auto-columns: 316px 366px 462px 366px;
		grid-template-rows: repeat(4, 180px);
	}


}